<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" role="tablist">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white" href="{{url('')}}">
        <img src="{{img(app.option('logo'))}}" alt="site-logo" class="img-fluid">
    </a>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{url('')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="text-uppercase">{{lang('home-page')}}</span></a>
    </li>
    {# SIDEBAR MENU START #}
    {% import "macro/sidebar_menu.twig" as sidebar %}
    {{ sidebar.menuList(adminCategory, 0, 0, adminCategoryChild) }}
    {# END SIDEBAR MENU #}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->