{% extends "content.twig" %}
{% block content %}
<section class="container-fluid">
   <div class="row">
      <div class="col-12">
         <h1 class="h5 mb-1 text-gray-800 text-uppercase">{{pagetitle}}</h1>
         <p class="mb-4">Yapılacak tüm işlemlerle ilgili olarak butonların üzerine geldiğinizde detay açıklaması bulunmaktadır.</p>
         <div class="card shadow mb-4">
            <div class="card-header py-3 text-uppercase">
               <a href="{{url('')}}" class="btn btn-primary btn-icon-split btn-sm" data-history="back">
               <span class="icon text-white">
               <i class="fas fa-undo-alt"></i>
               </span>
               <span class="text">{{lang('back')}}</span>
               </a>
               <a href="{{url('current', ['add'])}}" class="btn btn-success btn-icon-split btn-sm">
               <span class="icon text-white">
               <i class="fas fa-plus"></i>
               </span>
               <span class="text">{{'action.add'|t({'name': 'Sayfa'})}}</span>
               </a>
            </div>
            <div class="card-header">
               <div class="row">
                  <div class="col-xl-6 col-md-12 col-sm-12">
                     <div class="form-group">
                        <div class="box-tools">
                           <div class="row">
                              <div class="col-xl-6 col-md-12 col-sm-12">
                                 <div class="form-group">
                                    <form id="{{str.random(10)}}" data-form="filter" data-change-result="true" form="filter" action="{{url('current')}}" method="GET">
                                       <div class="input-group input-group-sm">
                                          <select class="form-control" name="f" data-bselect="true" data-live-search="true" data-style-base="" data-style="btn-primary" multiple data-selected-text-format="count > 3" multiple>
                                             <option value="unique">{{lang('all-unique')}}</option>
                                             <optgroup label="{{lang('admin.block.sort')}}" data-max-options="1">
                                                <option value="pageID" data-sort="desc" data-form-name="f" data-icon="fa fa-sort-amount-desc">{{lang('new-to-old')}}</option>
                                                <option value="pageID" data-sort="asc" data-form-name="f" data-icon="fa fa-sort-amount-asc">{{lang('old-to-new')}}</option>
                                             </optgroup>
                                             <option value="all" data-sort="division" data-form-name="a" data-icon="fa fa-list">{{lang('show-all')}}</option>
                                          </select>
                                          <div class="input-group-append">
                                             <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i></button>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="col-xl-6 col-md-12 col-sm-12">
                                 <div class="form-group">
                                    <form id="{{str.random(10)}}" data-form="search" form="search" action="{{url('current')}}" method="GET">
                                       <div class="input-group input-group-sm">
                                          <input type="text" name="q" class="form-control pull-right" placeholder="{{'placeholder.search'|t}}" autocomplete="off">
                                          <div class="input-group-append">
                                             <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.box-header -->
            <div class="card-body table-responsive">
               <table class="table table-hover table-bordered" data-toggle="table">
                  <thead>
                     <tr class="text-uppercase">
                        <th class="w-30" data-sortable="true">{{'admin.block.name'|t}}</th>
                        <th class="w-20" data-sortable="true">{{'admin.block.url'|t}}</th>
                        <th class="w-20" data-sortable="true">{{'admin.block.date'|t}}</th>
                        <th class="w-20" data-sortable="true">{{'admin.block.update'|t}}</th>
                        <th class="w-10 text-center">{{'admin.block.actions'|t}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for page in pages %}
                     {% if page.pageUpdateDate %}
                        {% set pageUpdate = page.pageUpdateDate %}
                     {% else %}
                        {% set pageUpdate = lang('none') %} 
                     {% endif %}
                     <tr>
                        <td>{{page.pageTitle}}</td>
                        <td><a href="{{url('../' ~ page.pageSlug)}}" target="_blank" class="badge badge-warning text-dark badge-pill">{{url('../' ~ page.pageSlug)}}</a></td>
                        <td>{{page.pageDate}}</td>
                        <td>{{pageUpdate}}</td>
                        <td>
                           <a href="{{url('current', ['edit', '?hash=' ~ encrypt(page.pageID)])}}" title="{{'admin.block.edit'|t}}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                           <a data-action="delete" data-id="{{encrypt(page.pageID)}}" href="{{url('page', ['delete'])}}" title="{{'admin.block.delete'|t}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                          {% if page.pageStatus == 1 %}
                          <a data-action="passive" data-id="{{encrypt(page.pageID)}}" href="{{url('page', ['unpublished'])}}" title="{{'action.unpublished'|t({'name': 'Sayfayı'})}}" class="btn btn-warning btn-sm"><i class="fa fa-square-o"></i></a>
                          {% else %}
                          <a data-action="activate" data-id="{{encrypt(page.pageID)}}" href="{{url('page', ['published'])}}" title="{{'action.published'|t({'name': 'Sayfayı'})}}" class="btn btn-success btn-sm"><i class="fas fa fa-check-square-o"></i></a>
                          {% endif %}
                        </td>
                     </tr>
                     {% else %}
                     <tr>
                        <td class="text-center" colspan="9">{{'admin.no-records'|t}}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
               {% include "sidebar/pagination.twig" with {page: page} only %}
            </div>
         </div>
         <!-- /.box -->
      </div>
   </div>
</section>
<script type="text/nanoscript"></script>
{% endblock %}