{% extends "content.twig" %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h5 mb-1 text-gray-800 text-uppercase">{{pagetitle}}</h1>
            <p class="mb-4">Yapılacak tüm işlemlerle ilgili olarak butonların üzerine geldiğinizde detay açıklaması bulunmaktadır.</p>
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-uppercase">
                    <a href="{{url('')}}" class="btn btn-primary btn-icon-split btn-sm" data-history="back">
                        <span class="icon text-white">
                            <i class="fas fa-undo-alt"></i>
                        </span>
                        <span class="text">{{lang('back')}}</span>
                    </a>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <div class="box-tools">
                                    <div class="row">
                                        <div class="col-xl-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <form id="{{str.random(10)}}" data-form="filter" data-change-result="true" form="filter" action="{{url('current')}}" method="GET">
                                                    <div class="input-group input-group-sm">
                                                        <select class="form-control" name="f" data-bselect="true" data-live-search="true" data-style-base="" data-style="btn-primary" multiple data-selected-text-format="count > 3" multiple>
                                                            <option value="unique">{{lang('all-unique')}}</option>
                                                            <optgroup label="{{lang('admin.block.type')}}" data-max-options="1">
                                                                {% for type in sliderTypes %}
                                                                <option value="sliderType" data-sort="{{type}}" data-form-name="w">{{'where-by'|t({'name' : lang(str.slug(type))})}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                            <option value="all" data-sort="division" data-form-name="a" data-icon="fa fa-list">{{lang('show-all')}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <form id="{{str.random(10)}}" data-form="search" form="search" action="{{url('current')}}" method="GET">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" name="q" class="form-control pull-right" placeholder="{{'placeholder.search'|t}}" autocomplete="off">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body table-responsive">
                    <div class="dd" data-form="sortable" data-url="{{url('current')}}">
                        <ol class="dd-list">
                            {% for slider in sliders %}
                            <li class="dd-item dd3-item" data-id="{{slider.sliderID}}">
                                <div class="dd-handle dd3-handle" data-title title="{{'admin.drag'|t}}"></div>
                                <div class="dd3-content">
                                    <a href="{{url('sliders', ['edit', '?hash=' ~ encrypt(slider.sliderID)])}}">{{slider.sliderName}}</a>
                                </div>
                            </li>
                            {% else %}
                            <div class="card">
                                <div class="card-body text-center text-primary">
                                    <h5 class="card-title"><i class="fa fa-question-circle"></i> {{'admin.no-data-found'|t}}</h5>
                                    <p class="card-text">{{'admin.no-records'|t}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<script type="text/nanoscript"></script>
{% endblock %}