<section class="content-header">
  {% set breadcrumbH1 = title|split(app.option('separator')) %}
  <h1>{{breadcrumbH1[0]}}
  	<small>{{breadcrumbH1[1]}}</small>
  </h1>
  <ol class="breadcrumb" data-breadcrumb="true" data-url="{{url('breadcrumbs')}}">
  	{% for breadcrumb in breadcrumbs %}
    {% if loop.first %}
    <li><a href="{{url('')}}"><i class="fa fa-dashboard"></i> {{'admin.home'|t}}</a></li>
    {% endif %}
    {% if loop.index != loop.length %}
	<li><a href="{{breadcrumb.url}}">{% if breadcrumb.icon %}<i class="fa fa-{{breadcrumb.icon}}"></i>{% endif %}{{breadcrumb.name}}</a></li>
    {% endif %}
    {% if loop.last %}
    <li class="active">{{breadcrumb.name}}</li>
    {% endif %}
  	{% endfor %}
  </ol>
</section>