    {% set currentFilters = page.currentFilters %}
    {% set currentPage = page.currentPage %}
    {% set paginationPath = page.pageSplit %}
    {% set lastPage = page.totalPages %}
    {% set showAlwaysFirstAndLast = page.showFirstAndLastPage %}
    {% set extremePagesLimit = page.startListPageLimit %}
    {% set nearbyPagesLimit = page.viewPageLimit %}

    {% if lastPage > 1 %}

        {# the number of pages that are displayed around the active page #}
        {% set nearbyPagesLimit = 5 %}


            <nav aria-label="pagination">
            <ul class="pagination justify-content-center">

            {% if currentPage != 1 %}
                 <li class="page-item">
                    <a href="{{currentFilters}}1{{paginationPath}}" class="page-link" aria-label="Next">
                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                    </a>
                 </li>
            {% endif %}

            {% if currentPage > 1 %}
                 <li class="page-item">
                    <a href="{{currentFilters}}{{currentPage-1}}{{paginationPath}}" class="page-link">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                 </li>

                {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                	<li class="page-item">
                    <a href="{{currentFilters}}{{i}}{{paginationPath}}" class="page-link">{{i}}</a>
                	</li>
                {% endfor %}

                {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                    <li class="page-item sep-dots">
                        <span style="cursor: default;">...</span>
                    </li>
                {% endif %}

                {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                	<li class="page-item">
                    <a href="{{currentFilters}}{{i}}{{paginationPath}}" class="page-link">{{i}}</a>
                    </li>
                {% endfor %}
            {% elseif showAlwaysFirstAndLast %}
                 <li class="page-item disabled">
                    <a aria-label="Prev" class="page-link">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                 </li>
            {% endif %}

    	       <li class="active">
                    <a class="page-link">{{currentPage}}</a>
               </li>

            {% if currentPage < lastPage %}
                {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                	<li class="page-item">
                    <a href="{{currentFilters}}{{i}}{{paginationPath}}" class="page-link">{{i}}</a>
                	</li>
                {% endfor %}

                {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                    <li class="page-item sep-dots">
                        <span style="cursor: default;">...</span>
                    </li>
                {% endif %}

                {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                	<li class="page-item">
                    <a href="{{currentFilters}}{{i}}{{paginationPath}}" class="page-link">{{i}}</a>
                	</li>
                {% endfor %}
	           <li class="page-item">
                <a href="{{currentFilters}}{{currentPage+1}}{{paginationPath}}" class="page-link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                </li>
            {% elseif showAlwaysFirstAndLast %}
                 <li class="page-item disabled">
                    <a class="page-link" aria-label="Prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                 </li>
            {% endif %}

                {% if currentPage != lastPage %}
                 <li class="page-item">
                    <a href="{{currentFilters}}{{lastPage}}{{paginationPath}}" class="page-link" aria-label="Next">
                    <i class="fa fa-fast-forward" aria-hidden="true"></i>
                    </a>
                 </li>
                {% endif %}

            </ul>

            </nav>
    {% endif %}