<!DOCTYPE html>
<html lang="{{app.config('language.default')}}">
<head>
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title|htmlspecialchars_decode}}</title>
{{app.config('app.developer.environment') == 'prod' ? '<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">'}} 
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<base href="{{url('')}}"/>
<link rel="shortcut icon" href="{{img('favicon.ico')}}">
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
{{('<link href="{{assets_url}}" type="text/css" rel="stylesheet">'|stylesheet([assets('css/bootstrap/*')], 'cssrewrite,cssmin,clean', 'load'))}}
{{('<link href="{{assets_url}}" type="text/css" rel="stylesheet">'|stylesheet([assets('css/plugin/*')], 'cssrewrite,mincss,clean', 'load'))}}
{{('<link href="{{assets_url}}" type="text/css" rel="stylesheet">'|stylesheet([assets('css/plugin/wysiwyg/*')], 'cssrewrite', 'load'))}}
{{('<link href="{{assets_url}}" type="text/css" rel="stylesheet">'|stylesheet([assets('css/*')], 'cssrewrite,mincss', 'load'))}}
{{('<link href="{{assets_url}}" type="text/css" rel="stylesheet">'|stylesheet([assets('css/login/*')], 'cssrewrite,mincss', 'load'))}}
{% endblock %}
<script type="text/javascript">
 var settings = {{app.option("json")|json_encode()}};
</script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}
</head>
<body class="bg-light">